@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    background: #B84E00;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}
h1 {
    float: left;
}
section {
    width: 100%;
    margin-bottom: 25px;
}
#Bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
    color: #B84E00;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.sociales a {
    text-decoration: none;
    color: #B84E00;
}

@media(min-width:768px) {
    .sociales {
        width: auto;
    }
    footer .contenedor {
        justify-content: space-between;
    }
}
@media(min-width:1024px) {
    .contenedor {
        width: 1100px;
    }

}

