#info {
    background-image: url(../imagenes/fondos/fondito.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    color: #B84E00;
    text-align: center;
    padding: 20px;
}
#info .contenedor {
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-pet {
    margin: 20px;
}
.info-pet img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #B84E00;
}

@media (min-width:480px) {
    .info-pet {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-pet {
        width: auto;
    }
}